/*  --- Header ---  */
#header {
    z-index: 0;
    background:url("images/head-gradient-terena.png") repeat-x;
}

#header #logo {
	color: #fff;
	text-shadow: 0px 2px 0px #000;
}


#header #version {
	text-shadow: 0px 1px 0px #000;
}

body {
	font-family: "Myriad Pro", "Verdana" !important;
}







#langbar a {
	color: #613283;
}



a, a:link, a:visited, a:active {
    color: #613283;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}




/* --- Front page --- */
div#createnew {
	border: 1px solid #000; 
	background: #d2007d; 
}