/*  --- Header ---  */
#header {
    z-index: 0;
    background:url("images/topp-bakgrunn_small.png") repeat-x;
}

#header #logo {
	color: #fff;
	text-shadow: 0px 2px 0px #900;
}


#header #version {
	text-shadow: 0px 1px 0px #900;
}





#langbar a {
	color: #600;
}


a, a:link, a:visited, a:active {
    color: #633;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}



div#createnew {
	border: 1px solid #ccc; 
	background: #f4f4f4; 
}