body,#Hovedmeny div,#Hovedmeny dl,#Hovedmeny dt,#Hovedmeny dd,#Hovedmeny ul,#Hovedmeny ol,#Hovedmeny li,#Hovedmeny p,#Hovedmeny blockquote,#Hovedmeny th,#Hovedmeny td {
	margin:0;
	padding:0;
}



div.expire {
	margin: .3em;
	padding: .3em;
	border: 1px solid #999;
	background: #ddd;
}

.yesimg {
	margin: 0px;
	border: 0px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	margin: .6em;
}

td {
	border: 1px solid #ccc;
}
td,th {
	border: 1px solid #aaa;
/*	text-align: center; */
}
th {
	background: #dda;
	padding: .1em 1em .1em 1em;

}
td.yes {
	background: #9c9;
	color: white;
	text-align: center;
}
td.no {
	text-align: center;
	background: #edd;
	color: #c77;
}
tr.you td {
	background: #eed;
		text-align: center;
}
tr.you td.yes {
	background: #bea;
		text-align: center;
}
td.count {
	text-align: center;
	font-size: large;
}
td.highest {
	background: #373;
	color: white;
	font-weight: bold;
}

td.sunday {
	background: #B98B8F;
	color: white;
}
td.grey {
	background: #ccc;
}
td.before {
	background: #eee;
	color: black;
}

fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
caption,th {
	text-align:center;
}

dt {
	font-size: 105%;
	color: #600;
	font-weight: bold;
}
dd p {
	margin: 0px 1em .1em 0px;
}

html {
	font-size: 90% ! important;
}

table.list {
	border: 1px solid #ccc;
}
table.list tr.header {
	background: #eee;
	border-bottom: 1px solid #ccc;
}
table.list td {
	padding: 2px;
}
table.list td.odd {
	background: #e5e5e5;
	
}