<div class="row" id="columneditorTop">

	<div class="col-md-12">
		<div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypestext" value="text" checked="checked">
				Columns with generic text
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypesdates" value="dates">
				Dates and timeslots (same timeslots for all dates)
			</label>
		</div>

		<div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypesdates2" value="dates2">
				Dates and timeslots (different timeslots for different dates)
			</label>
		</div>
		
		<!-- <div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypestimezone" value="timezone">
				Tidssoneplanlegger
			</label>
		</div> -->

	</div>

</div>

<div id="columnEditorContainer" class="row gutter" >



</div>




<div class="row" id="columneditorFooter">
		
</div>