<div class="row" id="columneditorTop">

	<div class="col-md-12">
		<div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypestext" value="text" checked="checked">
				Generelle alternativer i form av fri tekst
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypesdates" value="dates">
				Dato og tidspunkt (møteplanlegging og lignende)
			</label>
		</div>
		<!-- <div class="radio">
			<label>
				<input type="radio" name="columntypes" id="columntypestimezone" value="timezone">
				Tidssoneplanlegger
			</label>
		</div> -->

	</div>

</div>

<div id="columnEditorContainer" class="row gutter" >



</div>




<div class="row" id="columneditorFooter">
		
</div>