<div class="row">
	
	<div class="col-md-12">


		<div id="ownerbar" class="btn-group pull-right">
			<a class="btn btn-warning" href="/edit/{{identifier}}"><span class="glyphicon glyphicon-edit"></span> {{_.bc_edit}}</a>
			<a class="btn btn-info" href="/create#!/create/{{identifier}}"><span class="glyphicon glyphicon-new-window"></span> {{_.duplicate}}</a>
			<a class="btn btn-danger" id="actDelete" ><span class="glyphicon glyphicon-remove"></span> {{_.delete}}</a>
		</div>

		<div id="otherbar" class="btn-group pull-right">
			<!-- <div class="btn-group"> -->
				<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-share"></span>
					{{_.export}} 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="?output=csv">Excel (CSV)</a></li>
					<li><a href="?output=rss">RSS Feed</a></li>
				</ul>
			<!-- </div> -->
		</div>

		<h1>{{name}}

		</h1>

	</div>

</div>


<div class="row">
		
	<div id="foodleDescription" class="col-md-3">

		{{#if feedTitle}}
			<p><span class="label label-warning">{{feedTitle}}</span></p>
		{{/if}}

		<p>{{{descrHTML}}}</p>


	</div>


	<div id="colLocation" class="col-md-3">


		<div id="panelLocation" class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span> {{_.location}}</h3>
			</div>
			<div class="panel-body">
				<div id="sectLocation"></div>
			</div>
		</div>

		
	</div>

	<div id="colTime" class="col-md-3">

		<div id="panelTime" class="panel panel-default">
			<div class="uninett-color-lightBlue panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> {{_.datetime}}</h3>
			</div>
			<div id="sectTime" class="panel-body">
			</div>
		</div>

		<div id="panelDeadline" class="panel panel-default">
			<div class="uninett-color-lightBlue panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-time"></span> {{_.deadline}}</h3>
			</div>
			<div id="sectDeadline" class="panel-body">
				
			</div>
		</div>


		<div id="panelRestrictions" class="panel panel-default">
			<div class="uninett-color-lightBlue panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-lock"></span> {{_.restrictions}}</h3>
			</div>
			<div id="sectRestrictions" class="panel-body">
				
			</div>
		</div>


		<div id="panelTimezone" class="panel panel-default hidden-print">
			<div class="uninett-color-lightBlue panel-heading">
				<h3 class="panel-title"><span class="glyphicon glyphicon-globe"></span> {{_.timezone}}</h3>
			</div>

			<div  class="panel-body">
				<p>{{_.selecttimezone}}</p>
				<div id="sectTimezone"></div>
			</div>
		</div>



	</div>

	<div class="col-md-3">

		<h5>{{_.seealso}}</h5>
		<div id="upcoming"></div>

	</div>


</div>

<ul id="responsenav" class="nav nav-tabs">
	<li id="navMyResponse" class="active"><a href="#">{{_.myresponse}}</a></li>
	<li id="navAllResponses"><a href="#">{{_.allresponses}}</a></li>
	<li id="navComments"><a href="#">{{_.discussion}} <span id="discussionCount" style="display: none" class="badge badge-primary">_</span></a></li>
</ul>



<div id="myResponseTable" class="row gutter clearfix">
	<table class="table table-responsive table-condensed table-striped table-bordered">
		<thead id="mytablehead"></thead>
		<tbody id="mytablebody"></tbody>
	</table>
</div>

<div id="responseTable" class="row gutter clearfix">

	<div id="showComments">
		<div class="checkbox">
			<label>
				<input id="enableComments" type="checkbox" class="" checked="checked"> {{_.showcomments}}
			</label>
		</div>
	</div>

	<table class="table table-responsive table-condensed table-striped table-bordered">
		<thead id="tablehead"></thead>
		<tbody id="tablebody"></tbody>
	</table>
</div>

<div id="commentPane" class="row gutter clearfix">
	
	<div class="col-md-6">
		<textarea id="commentText" class="form-control" rows="3"></textarea>
		<div class="clearfix" style="margin-top: 5px">
			<button class="btn btn-primary pull-right" id="submitComment"> {{_.addcomment}} <span class="glyphicon glyphicon-chevron-right"></span></button>
		</div>
	</div>


	<div class="col-md-6" id="commentList"></div>

</div>



<div id="statusline"></div>

<div id="modalDelete" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{_.deleting}}</h4>
			</div>
			<div class="modal-body">
				<p>{{_.deletewarning}}</p>

				<p><input id="foodleID" type="text" class="form-control" value="" /></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{_.cancel}}</button>
				<button type="button" class="actContinue btn btn-danger"><span class="glyphicon glyphicon-remove"></span> {{_.dodelete}}</button>
			</div>
		</div>
	</div>
</div>

