<div>
	<div class="colerrors"></div>

	<div id="columneditorMain" class="col-md-10">

	</div>

	<div class="col-md-2">
		<button id="removeTopColumn" class="btn btn-default btn-sm">
			<span class="glyphicon glyphicon-minus"></span>
			Less
		</button>
		<button id="addTopColumn" class="btn btn-default btn-sm">
			More
			<span class="glyphicon glyphicon-plus"></span>
		</button>

		<div class="checkbox">
			<label>
				<input id="includeOptions" type="checkbox" > Sub headers
			</label>
		</div>
	</div>
</div>