a {
	cursor: pointer;
}

a.button:link {
	color: #444 ! important;
	
}
a.button {
	outline: none; /* hide dotted outline in Firefox */
	margin-top: 3px; margin-bottom: 3px;

	background: transparent url('buttons/bg_button_a.png') no-repeat scroll top right;
	color: #444 ! important;
	display: block;
	float: left;
	font: normal 12px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
	border: none ! important;
}

a.button span {
	background: transparent url('buttons/bg_button_span.png') no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}
.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
}


a.button:active {
	background-position: bottom right;
	color: #000 ! important;
	outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}




#ulogo {
	position: absolute;
	top: 10px; right: 20px;
	z-index: 10;
}
#logo {
	color: #fff;
	font-family: "Verdana", "sans-serif";
	font-weight: bold;
	letter-spacing: -0.12em;
	text-shadow: 0px 2px 0px #900;
	font-size: 30px;
/*	position: absolute;
	top: 2px; left: 2px; */
	z-index: 10;
}
#version {
	font-weight: normal;
	letter-spacing: 0.1em;
	font-size: x-small;
	text-shadow: 0px 1px 0px #900;
}
#logo #news, #logo #mailinglist {
	font-weight: normal;
	letter-spacing: 0em;
}



div.extbox:hover {
		border: 1px solid #aa5; 
}
div.extbox {
	float: right; 
	border: 1px dashed #cc8; 
	background: #fffff1; 
	padding: .4em; 
	margin: 1em 0em .4em .4em;

}
div.extbox a {
	color: #664;
	text-decoration: none;
/*	border-bottom: 1px dashed #cc8; */
}
div.extbox a:hover {
	border-bottom: 1px solid #aa5;
	text-decoration: none;
}


body,#Hovedmeny div,#Hovedmeny dl,#Hovedmeny dt,#Hovedmeny dd,#Hovedmeny ul,#Hovedmeny ol,#Hovedmeny li,#Hovedmeny p,#Hovedmeny blockquote,#Hovedmeny th,#Hovedmeny td {
	margin:0;
	padding:0;
}
.commentline {
	padding: 3px 10px 3px 3em; 
	color: #777; 
}
.list th {
	font-weight: normal;
}


div.infobox {
	margin: .3em;
	padding: .3em;
	border: 1px solid #999;
	background: #ddd;
}
div.infobox.maxnum {
}
div.infobox.expire {
}
div.infobox.registeremail {
}


.yesimg {
	margin: 0px;
	border: 0px;
}
table {
	border-collapse:collapse;
	border-spacing:0;
	margin: .6em;
}

td {
	border: 1px solid #ccc;
}
td,th {
	border: 1px solid #aaa;
/*	text-align: center; */
}
th {
	background: #dda;
	padding: .1em 1em .1em 1em;

}
td.yes {
	background: #9c9;
	color: white;
	text-align: center;
}
td.no {
	text-align: center;
	background: #edd;
	color: #c77;
}
tr.you td input.comment {
	background: #f7f7f7;
	background-image: url('../resources/notes.png');
	background-repeat: no-repeat;
/*	background-attachment:fixed;*/
 	background-position: 3px 5px; 
	color: #662;
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px 5px 5px 30px;
	width: 90%;

}
td.center {
	text-align: center;
}
tr.you td {
	background: #eed;


}
tr.you td.yes {
	background: #bea;
}
td.count {
	text-align: center;
	font-size: large;
}
td.highest {
	background: #373;
	color: white;
	font-weight: bold;
}

td.sunday {
	background: #B98B8F;
	color: white;
}
td.grey {
	background: #ccc;
}
td.before {
	background: #eee;
	color: black;
}

fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
}
caption,th {
	text-align:center;
}

dt {
	font-size: 105%;
	color: #600;
	font-weight: bold;
}
dd p {
	margin: 0px 1em .1em 0px;
}

html {
	font-size: 90% ! important;
}

table.list {
	border: 1px solid #ccc;
	font-family: "Arial Narrow", "arial", sans-serif;
}
div.lang {
	font-family: "Arial Narrow", "arial", sans-serif;
}
table.list tr.header {
	background: #eee;
	border-bottom: 1px solid #ccc;
}
table.list td {
	padding: 2px;
}
table.list td.odd {
	background: #e5e5e5;
	
}
div#fcols table.layout {
	width: 100%;
	border: none;
}
div#fcols table.layout  tr.layout  td.layout {
	vertical-align: top;
	border: 0px;
	padding: .3em;
}